html{
    box-sizing: border-box;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

.cont{
    background: rgb(235,237,248);
background: linear-gradient(180deg, rgba(235,237,248,1) 0%, rgba(246,247,252,1) 51%, rgba(255,255,255,1) 100%);
    height: 100vh;
    font-family: 'Roboto', sans-serif;
      display: flex;
  justify-content: center;
  align-items: center;
}

.h1{
    font-size: 3rem;
    color: #1A237E;
}
.h1_decorate{
    color: #334ffe;
}

.left__side, .tiles{
    width: 40%;
}

.left__side{
    z-index: 1;
    padding: 30px 90px 30px 30px;
    
}
.tiles{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 1% 5%; 
    grid-template-areas: 
      "one two"
      "three four"
      ; 
    
    
  }

  .tiles > div{
      background-color: #FFFFFF;
      border: solid 1px rgb(206, 206, 206);
      padding: 30px;
      line-height: 1.4rem;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}

  .one {
      position: relative; 
      grid-area: one; 
        color: #9BA4D9;
        top: -20%;
        
  }
  .two { grid-area: two;     color: #9BA4D9;
    
    

  }
  .three { grid-area: three;     color: #9BA4D9;
  }
  .four { 
    position: relative; 
    grid-area: four;   
      color: #9BA4D9;
      bottom: -20%;

  }

  .block{
    width: auto;
    display: inline-block;
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.blue{
    background-color: #BBDEFB;
}
.green{
    background-color: #C8E6C9;

}
.orange{
    background-color: #FFF9C4;

}
.purple{
    background-color: #E1BEE7;

}

h1:before{
    font-size: 1rem;
    content: "lorem ipsum \A";
    text-transform: uppercase;
    color: #9BA4D9;
    white-space: pre;

}

.button{
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    margin: 15px 0 0 0;
    text-transform: uppercase;
    border: none;
    background-color: #FFAB02;
    color: #FFFFFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover{
    opacity: 0.5;
    transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s;
    -moz-transition: all ease-in .2s;
    -ms-transition: all ease-in .2s;
    -o-transition: all ease-in .2s;
}

.paragraph{
    margin: 10px 0 10px 0;
    line-height: 1.5rem;
    color: #656db1;
}

.h3{
    color: #3A4290;
    line-height: 2rem;
}

.shape{
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 30%;
    height: 50%;
    background: rgb(235,237,248);
background: linear-gradient(180deg, rgba(235,237,248,1) 0%, rgba(246,247,252,1) 51%, rgba(255,255,255,1) 100%);
    border-radius: 100% 0 0 0;
    -webkit-border-radius: 100% 0 0 0;
    -moz-border-radius: 100% 0 0 0;
    -ms-border-radius: 100% 0 0 0;
    -o-border-radius: 100% 0 0 0;
}